<!doctype html>
<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<html>
    <head>
        <title>{{data.title}}</title>
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    </head>
    <body>
      <div id="content">
        <div id="navigation">
            {{#each data.navigation.sections}}
              <span class="section">
                <a href="{{this.path}}.html">{{this.name}}</a>
              </span>
            {{/each}}
            <hr/>
        </div>
        
        <div class="title">
          <h1>{{data.article.title}}</h1>
          <hr/>
        </div>
        
        <div class="tags">
          {{#if data.article.tags}}
            Tags:
            {{#each data.article.tags}}
              <span class="tag">
                <a href="/tags/{{this}}.html">{{this}}</a>
              </span>
              {{/each}}
              - Find articles <a href="/tags/{{data.article.tagsQuery}}.html">with all these tags</a>
              <hr/>
          {{/if}}
        </div>
        
        <div class="seeAlso">
          {{#if data.article.seeAlso}}
          <h2>See Also</h2>
          <ul>
            {{#each data.article.seeAlso}}
              <li class="seeAlso">
                <a href="{{this.path}}.html">{{this.title}}</a>
              </li>
            {{/each}}
          </ul>
          <hr/>
          {{/if}}
        </div>

        <div class="text">
          {{{data.article.text}}}
          <hr/>
        </div>
        
      </div>
    </body>
</html>